<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
    border-b border-slate border-none hover:border-dashed
      href="https://platform.openai.com/docs/guides/chat" target="_blank"
    >
      ChatGPT
    </a>
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="https://github.com/zoranner/chatgpt-local" target="_blank"
    >
      Source Code
    </a>
  </p>
</footer>